@use 'sass:color';
@import 'lxgw-wenkai-webfont/style.css';
@import 'normalize.css/normalize.css';

:root {
  --color-body-text: #0f172a;
  --color-body-background: #fff;
  --color-accent: #00a1ff;
  --color-accent-highlight-background: #00a1ff40;
  --height-nav: 48px;
  --color-nav-text: #6e7781;
  --color-nav-text-hover: var(--color-body-text);
  --color-nav-background: var(--color-body-background);
  --color-nav-border: #0f172a1a;
  --color-nav-highlight-background: var(--color-accent-highlight-background);

  @media (prefers-color-scheme: dark) {
    & {
      --color-body-text: #f1f5f9;
      --color-body-background: #111;

      --color-nav-text: #a2a9b3;
    }
  }
}

body {
  color: var(--color-body-text);
  background-color: var(--color-body-background);
}

*,
*::before,
*::after {
  font-family: LXGW WenKai, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
