:root {
  --color-body-text: #0f172a;
  --color-body-background: #fff;

  @media (prefers-color-scheme: dark) {
    & {
      --color-body-text: #f1f5f9;
      --color-body-background: #111;
    }
  }
}

body {
  color: var(--color-body-text);
  background-color: var(--color-body-background);
}

*,
*::before,
*::after {
  font-family: LXGW WenKai, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
