.toc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.tocLinkList {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 4px 0;
  }
}
