.callout {
  padding: 0 12px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-periodic-table-cell-border-active);
  background-color: var(--color-periodic-table-cell-background-active);
}
