.nav {
  background-color: var(--color-nav-background);
  border-bottom: 1px solid var(--color-nav-border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navContainer {
  display: flex;
  height: var(--height-nav);
  padding: 0 6px;
}

.navItem {
  color: var(--color-nav-text);
  text-decoration: none !important;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  transition-property: color;

  &:hover,
  &:focus-visible {
    color: var(--color-nav-text-hover);
  }

  span {
    transition-duration: 0.25s;
    transition-property: background-color;
  }

  &.active span {
    color: var(--color-nav-text-selected);
  }
}
