@use 'sass:math';
$cellPadding: 2px 4px;

@import '@primer/css/support/index.scss';

.table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  gap: 2px;

  &:hover {
    color: var(--color-fg-muted);
  }
}

.cell {
  padding: $cellPadding;
  border: 1px solid var(--color-border-default);
  background-color: var(--color-canvas-default);
  cursor: default;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0, 0.5, 0, 1);
  transition-property: transform, border, background-color;

  &:hover,
  &:focus-visible {
    transform: scale(1.5);
    color: var(--color-fg-default);
    box-shadow: var(--color-shadow-large);
  }
  &:active {
    transform: scale(1.2);
  }

  & > * {
    display: block;
  }

  &.active {
    border: 1px solid var(--color-accent-muted);
    background-color: var(--color-accent-subtle);
  }

  .atomicNumber {
    color: var(--color-fg-muted);
    text-align: left;
    font-size: 12px;
  }

  .symbol,
  .name {
    font-size: 14px;
    line-height: 1;
    margin: 4px;
  }

  .atomicMass {
    color: var(--color-fg-subtle);
    font-size: 10px;
  }
}

.spacer {
  font-size: $h6-size;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;

  &.highlight {
    border: 1px solid var(--color-border-default);
    background-color: var(--color-canvas-inset);
  }
}

.elementDisplay {
  display: flex;
  cursor: default;

  .left {
    .symbol {
      width: 120px;
      height: 120px;
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--color-border-default);
    }
  }

  .right {
    margin-left: 12px;
    padding: 0 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px 6px;

    .dataKey {
      text-align: right;
      color: var(--color-fg-muted);
      font-weight: $font-weight-bold;
    }

    .value {
    }
  }
}

.controls {
  margin-top: 24px;
  display: flex;

  .options {
    width: max-content;
    min-width: max-content;
    margin-right: 16px;
  }

  .display {
    margin-right: 16px;
  }
}
